#main-container {
    background-color: var(--temp-hl-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(300px, 80%, 1400px); 

    margin: 0 auto;
    padding: 20px 40px;
}

#main-container h1 {
    font-size: clamp(2.8rem, 3.5vw, 5rem);
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--text-color);
    background-color: brown;
}

#main-container h2 {
    font-size: clamp(1.8rem, 2.5vw, 3rem);
    font-weight: 500;
    color: var(--text-color);
    background-color: darkblue;
}