
:root {
  font-family: "poppins";
  margin: 0;
  padding: 0;
  
  /* warna */
  --white-color:#ffff;
  --dark-color:#252525;
  --primary-color:#009dff;
  --secondary-color:#FFF58A;
  --light-grey-color:#777777;
  --light-pink-color:#faf4f5;

  /* Ukuran Font */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Ketebalan Font */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Kelengkungan sudut */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* kelebaran maximal */
  --site-max-width: 1300px;

}
.hero-section > img{
  width: 100%;
  height:  430px;
  position : absolute;
  z-index : -3;
  
}

.hero-content{
    background-color: rgba(0, 0, 0, 0.5);
  align-content: center;
  justify-content: center;
  position: relative;
  text-align: center;
  padding-top: 150px;
}

.hero-section .hero-content .judul{
    color: rgb(255, 255, 255);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    font-family: "poppins", sans-serif;
    
  }